body {
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0; /* Remove padding from the sidebar */
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #343a40; /* Darker sidebar */
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0; /* Remove padding from the sidebar sticky */
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 0; /* Remove padding from the sidebar footer */
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px; /* Increase text size */
    color: #fff; /* Light text color */
    border: 2px solid #fff; /* Border around each item */
    text-align: center;
    margin: 0; /* Remove margin between items */
    border-radius: 0; /* Ensure no border radius */
}

.nav-item {
    width: 100%; /* Make sure nav items take full width */
}

.sidebar-icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.main {
    padding: 20px;
}

.underlined-title {
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px; /* Added margin at the top */
}

.form-control {
    margin-bottom: 15px;
}

.underlined-title {
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.card {
    margin: 10px;
}

.create-card-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.create-card-btn:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}