<!-- create_server.html -->
{% extends "base.html" %}
{% block title %}Create Card{% endblock %}
{% block p_title %}Create New Card{% endblock %}
{% block content %}

<div class="container mt-5">
    <form method="post" action="{{ url_for('views.create_server') }}">
        <div class="form-group">
            <label for="cardTitle">Card Title</label>
            <input type="text" class="form-control" id="namesrv" name="namesrv" placeholder="Enter Server Name" required>
        </div>
        <div class="form-group">
            <label for="cardText">Card Text</label>
            <textarea class="form-control" id="cardText" name="cardText" rows="3" placeholder="Enter card text" ></textarea>
        </div>
        <div class="form-group">
            <label for="cardImage">Card Image URL</label>
            <input type="url" class="form-control" id="cardImage" name="cardImage" placeholder="Enter image URL" >
        </div>
        <button type="submit" class="btn btn-primary">Create Card</button>
    </form>
</div>

{% endblock %}
