{% extends "base.html" %}
{% block title %}Edit Server{% endblock %}
{% block p_title %}Edit Server{% endblock %}
{% block content %}

<div class="container mt-5">
    <form method="post" action="{{ url_for('views.edit_server', server_id=id_server) }}">
        <div class="form-group">
            <label for="cardTitle">Card Title</label>
            <input type="text" class="form-control" id="namesrv" name="namesrv" value="{{ name_server }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    <div class="mt-5">
        <h3>Whitelisted Users</h3>
        <ul class="list-group">
            {% for user in whitelist %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ user }}
                <form method="post" action="{{ url_for('views.remove_from_whitelist', server_id=id_server) }}">
                    <input type="hidden" name="usernames" value="{{ user }}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
        <form method="post" action="{{ url_for('views.add_to_whitelist', server_id=id_server) }}" class="mt-3">
        <div class="form-group">
            <label for="usernames">Add Whitelist Users (comma separated)</label>
            <input type="text" class="form-control" id="usernames" name="usernames" placeholder="Enter usernames">
        </div>
        <button type="submit" class="btn btn-success">Add to Whitelist</button>
    </form>
</div>

{% endblock %}
