{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block p_title %}Pixelcube{% endblock %}
{% block content %}

<h2 class="underlined-title">Owned Minecraft Servers</h2>
<div class="card-container">
    {% for srv in owned_srv %}
      <div class="card" style="width: 18rem;">
        <img src="https://img1.exportersindia.com/product_images/bc-small/2019/12/4623921/aluminium-composite-panel-1575450560-5194321.jpeg" class="card-img-top" alt="..." style="filter: hue-rotate({{ loop.index * 30 }}deg);">
        <div class="card-body">
          <h5 class="card-title">{{srv[0]}}</h5>
          <p class="card-text"><b>owner:</b> {{srv[2]}}</p>
          <a href="/server/{{ srv[1] }}" class="btn btn-primary" style="filter: hue-rotate({{ loop.index * 30 }}deg);">Go to VM</a>
          <a href="/edit_server/{{ srv[1] }}" class="btn btn-primary" style="filter: hue-rotate({{ loop.index * 30 }}deg);">Edit Course</a>
        </div>
      </div>
    {% endfor %}
</div>


<a href="/create_server" class="btn btn-primary create-card-btn">Create Server</a>

{% endblock %}
