{% extends "base.html" %}
{% block title %} Server - {{ name }} {% endblock %}
{% block content %}
<div class="vm_desc">
    <div class="row">
        <div class="col-md-6">
            <b>Status:</b>
            <p>{{ status }}</p>
            <br>
            <b>Name:</b>
            <p>{{ name }}</p>
            <br>
        </div>
        <div class="col-md-6">
            <b>Password:</b>
            <p>-</p>
            <br>
            <b>Description:</b>
            <p>{{ description }}</p>
            <br>
        </div>
    </div>

    <b>Hardware</b>
    <hr color="black">

    <div class="row">
        <div class="col-md-6">
            <b>CPU:</b>
            <p>{{ cpu }}</p>
            <br>
            <b>Storage:</b>
            <p>{{ storage }}</p>
            <br>
        </div>
        <div class="col-md-6">
            <b>RAM:</b>
            <p>{{ ram }}</p>
            <br>
            <b>OS:</b>
            <p>{{ operatingsystem }}</p>
            <br>
        </div>
    </div>

    <b>Connectivity</b>
    <hr color="black">

    <div class="row">
        <div class="col-md-6">
            <b>IP:</b>
            <p>{{ ip_address }}</p>
        </div>
        <div class="col-md-6">
            <b>Hostname:</b>
            <p>{{ server_address }}</p>
        </div>
    </div>
</div>

<div class="vm_actions mt-4">
    <h2>VM Actions</h2>
    <form action="{{ url_for('views.start_server', server=server) }}" method="post">
        <button class="btn btn-primary action_btn" id="start_vm_btn" type="submit">Start</button>
    </form>
    <form action="{{ url_for('views.stop_server', server=server) }}" method="post">
        <button class="btn btn-danger action_btn" id="stop_vm_btn" type="submit">Shutdown</button>
    </form>
    <form action="{{ url_for('views.backup', server_id=server) }}" method="post">
        <label for="backup_name">Backup:</label>
        <input type="text" id="backup_name" name="backup_name" placeholder="Backup name">
        <button class="btn btn-warning action_btn" id="reboot_to_backup_btn" type="submit">Backup</button>
    </form>
    <form action="{{ url_for('views.restore_backup', server=server) }}" method="post">
        <label for="backup_select">Restore Backup:</label>
        <select id="backup_select" name="backup_select">
            {% for backup in backups %}
            <option value="{{ backup.id }}">{{ backup.name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-info action_btn" id="restore_backup_btn" type="submit">Restore</button>
    </form>
</div>

<style>
    .vm_desc {
        margin-top: 20px;
    }
    .vm_desc b {
        font-size: 1.2em;
    }
    .vm_desc p {
        font-size: 1em;
    }
    .vm_actions {
        margin-top: 30px;
    }
    .action_btn {
        width: 150px;
        margin: 5px;
    }
</style>
{% endblock %}
